@model I_Facility.ServerModel.CellPartModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //var rep = ViewBag.item;
    var i = 0;
    var Count = Model.cellPartList.Count;
}

<div class="container body">
    <div class="main_container">
        <div class="right_col" role="main">
            <div class="">
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>Part Details</h2>
                                <ul class="nav navbar-right panel_toolbox">
                                    <li>
                                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                    </li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                            <table id="" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>cell</th>
                                        <th>cell description</th>
                                        <th>cell displayname</th>
                                        <th>no of model</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        @foreach (var item in @ViewBag.item)
                                        {

                                            <td>@Html.DisplayFor(modelitem => Model.cellPartList[0].tblcell.CellName)</td>
                                            <td>@Html.DisplayFor(modelitem => Model.cellPartList[0].tblcell.CellDesc)</td>
                                            <td>@Html.DisplayFor(modelitem => Model.cellPartList[0].tblcell.CelldisplayName)</td>
                                            <td>@Html.DisplayFor(modelitem => Model.cellPartList[0].tblcell.NoofModel)</td>
                                        }
                                    </tr>
                            </table>
                            @using (Html.BeginForm("CreatePart", "Cells", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                for (i = 0; i < Count; i++)
                                {
                                    <label class="col-sm-new-3 control-label">Part No</label>
                                    <div class="col-sm-new-3">
                                        @Html.HiddenFor(modelItem => Model.cellPartList[i].CellID, new { @id = "CellID" })
                                        @Html.HiddenFor(modelItem => Model.cellPartList[i].cpID, new { @id = "cpID" })
                                        @Html.HiddenFor(modelItem => Model.cellPartList[i].CreatedBy, new { @id = "CreatedBy" })
                                        @Html.HiddenFor(modelItem => Model.cellPartList[i].CreatedOn, new { @id = "CreatedOn" })
                                        @Html.HiddenFor(modelItem => Model.cellPartList[i].IsDeleted, new { @id = "IsDeleted" })
                                        @Html.TextBoxFor(modelItem => Model.cellPartList[i].partNo, new { @id = "partNo", @value = "partNo", @class = "form-control", @name = "partNo", @placeholder = "Enter partNo", @required = "required" })

                                    </div>
                                    <label class="col-sm-new-4 control-label">Part Description</label>
                                    <div class="col-sm-new-3">
                                        @Html.TextBoxFor(modelItem => Model.cellPartList[i].PartDescription, new { @id = "PartDescription", @value = "PartDescription", @class = "form-control", @name = "PartDescription", @placeholder = "Enter PartDescription", @required = "required" })

                                    </div>
                                }
                                <br/>
                                <br/>
                                <br/>
                                <br/>
                                <br/>
                                <div class="generate-btn">
                                    <a id="" href="/Cells/CellsList" type="submit" class="btn btn-new"><i class="fa fa-chevron-left" aria-hidden="true"></i>&nbsp;Back</a>
                                    <button type="submit" class="btn btn-new float-right"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;Save</button>

                                </div>
                               
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



